.main{
    background-color:black;
    height: 400px;
    width: 400px;
    position:relative;
    left:400px;
    top:40px;
}
#txt1{
    position: relative;
    top:10px;
    left: 20px;
    height: 50px;
    width: 350px;
}
.btn{
    position: relative;
    top:40px;
    left: 20px;
    background-color: #f0f2f5;
    height: 40px;
    width: 80px;
}
.bt2{
    position: relative;
    top:60px;
}
.bt3{
    position: relative;
    top:80px;
}
.bt4{
    position:relative;
    top:100px;
}
.clbtn{
    background-color: indianred;
}