.row1{
    height: 600px;
    width:40%;
    background-color: #f0f2f5;
    position: relative;
    top:20px;
    left:30%;

}
.bankfont{
    position: relative;
    top:20px;
    left:25px;
}
.row2{
    position:relative;
    bottom: 400px;
    left: 3%;
}
.bankhead{
    position: relative;
    top:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.email{
    position: relative;
    width: 80%;
}
.pswd{
    position: relative;
    width: 80%;
}
.frpassd{
    position: relative;
    left:200px;
}
.logbtn{
    position: relative;
    top:20px;
    left:4px;
    width: 80%;
}
.signup{
    position: relative;
    top:80px;
    font-family: Arial, Helvetica, sans-serif;
    left: 50px;
}