body{
    background-color: lightgray;
    background-image: url("food.jpg");
}
h1{
    color: darkred;
    text-align: center;
}
.r1{
    background-color: lightskyblue;
    width: 35%;
}
#pan{
    color: red;
    text-align: center;
}
h3{
    color: goldenrod;
    text-align: center;
}
.r2{
    background-color:darkslategrey;
    width: 35%;
}
#sam{
    color: sienna;
    text-align: center;
}
.r3{
    background-color: tomato;
    width: 35%;
}
#cnn{
    color: darkolivegreen;
    text-align: center;
}

.ul2{
    list-style-position: inside;
    text-align: center;
}
.ul1{
    list-style-position: inside;
    text-align: center;
}
.u3{
    list-style-position: inside;
    text-align: center;
}